.block red{
    height:  50px;
    width:  50px;
    background-color:  red;
    border: 1px solid black;
    position: absolute;
    left: 25px;
    top: 50px;
}
.block black{
    top: 50px;
    left: 25px;
    width: 150px;
    height: 25px;
    background-color: black;
}
#wrapper{
    margin-top:  15px;
}
button:nth-child(5){
    margin-right: 25px;
}